<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ShoeContainer" connectionString="metadata=res://*/Shoe.csdl|res://*/Shoe.ssdl|res://*/Shoe.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=*****;Initial Catalog=MyShoeShoes;User ID=sa;Password=******;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>